<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Fluffy Meow - Torrent RSS generator for TV series
  ~ Copyright (C) 2015 Victor Denisov
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as published
  ~ by the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Affero General Public License for more details.
  ~
  ~  You should have received a copy of the GNU Affero General Public License
  ~  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <!-- Extra properties to be set on a per-application basis -->
  <!-- Make sure there's only one properies file per application to avoid conflicts! -->
  <properties>
    <property name="jdbc.url" value="" />
    <property name="jdbc.username" value="" />
    <property name="jdbc.password" value="" />
    <property name="jdbc.pool.minConnections" value="1" />
    <property name="jdbc.pool.maxConnections" value="10" />
    <!-- Add more properties as required -->
  </properties>
  
  <settings>
    <setting name="logImpl" value="LOG4J2"/>
  </settings>

  <typeAliases>
    <package name="org.plukh.fluffymeow.dao.entities" />
  </typeAliases>

  <typeHandlers>
    <package name="org.plukh.fluffymeow.dao.typehandlers" />
  </typeHandlers>

  <environments default="production">
    <environment id="production">
      <transactionManager type="JDBC" />
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.jdbc.Driver" />
        <property name="url" value="${jdbc.url}" />
        <property name="username" value="${jdbc.username}" />
        <property name="password" value="${jdbc.password}" />
        <property name="defaultTransactionIsolationLevel" value="2" /> <!-- READ_COMMITTED -->
        <property name="poolMaximumActiveConnections" value="${jdbc.pool.maxConnections}" />
        <property name="poolMaximumIdleConnections" value="${jdbc.pool.minConnections}" />
        <property name="poolMaximumCheckoutTime" value="7200000" /> <!-- 2 hours -->
        <property name="poolPingQuery" value="/* ping */ select 1" />
        <property name="poolPingEnabled" value="true" />
        <property name="poolPingConnectionsNotUsedFor" value="600000" />
      </dataSource>
    </environment>

    <environment id="test">
      <transactionManager type="JDBC" />
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://mysql.local:3306/fluffy-meow-test" />
        <property name="username" value="fluffy-meow" />
        <property name="password" value="aaaabbbb" />
        <property name="defaultTransactionIsolationLevel" value="2" /> <!-- READ_COMMITTED -->
        <property name="poolMaximumActiveConnections" value="10" />
        <property name="poolMaximumIdleConnections" value="3" />
        <property name="poolMaximumCheckoutTime" value="7200000" /> <!-- 2 hours -->
        <property name="poolPingQuery" value="/* ping */ select 1" />
        <property name="poolPingEnabled" value="true" />
        <property name="poolPingConnectionsNotUsedFor" value="600000" />
      </dataSource>
    </environment>
  </environments>

  <mappers>
    <package name="org.plukh.fluffymeow.dao.mappers" />
  </mappers>
</configuration>