$v-layout-margin-top    : 12px;
$v-layout-margin-right  : 12px;
$v-layout-margin-bottom : 12px;
$v-layout-margin-left   : 12px;

@import "../valo/valo.scss";
@import "addons.scss";

@mixin fluffy-meow {
  @include valo;
  @include addons;
}